{% extends 'main.html' %} {% block title %}Room Details{% endblock title %} {% block body %}
<div style="padding: 40px; text-align: justify">
  <div class="room__topLeft">
    <a href="/room_page/{{room.id}}">
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 32 32"
      >
        <title>arrow-left</title>
        <path
          d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"
        ></path>
      </svg>
    </a>
    <h3>Back</h3>
  </div>
  <br />
  <a href="/profile/{{room.host.id}}" class="room__author">
    <div class="avatar avatar--medium">
      <img src="{{room.host.avatar.url}}" />
    </div>
    <span>@{{room.host.username}}</span><br />
  </a>
  <h1><a>{{room.name}}</a></h1>
  created {{room.created}}
  <br /><br />
  <h3><a>Description</a></h3>
  {{room.description}}
  <br /><br />
  {% if room.host == request.user %}
  <h3><a>Actions</a></h3>
  <span
    ><a href="/update_room/{{room.id}}"
      ><button class="btn btn--dark" type="submit">Update Room</button></a
    ></span
  >
  <span
    ><a href="/delete_room/{{room.id}}"
      ><button class="btn btn--dark" type="submit">Delete Room</button></a
    ></span
  >
  <br /><br />
  {% endif %}
  <a>
    <h2>Participants ({{participants.count}})</h2>
  </a>
  <br />
  <br />
  {% for user in participants %}
  <a href="/profile/{{user.id}}" class="participant">
    {% if user.is_online %}
    <div class="avatar avatar--medium active">
      {% else %}
    <div class="avatar avatar--medium">
      {% endif %}
      <img src="{{user.avatar.url}}" />
    </div>
    <p>
      {{user.username}}
      <span>@{{user.username}}</span>
    </p>
  </a>
  {% endfor %}
  <br />
</div>
{% endblock body %}
