{% block head %}
<style>
.alert {
  padding: 20px;
  background-color: #2196F3;
  color: #2d2d39;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 40px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: white;
}
.message{
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-light);
}
@media only screen and (max-width: 600px) {
  .message{
    font-size: 1.5rem;
  }
}
</style>
{% endblock head %}
{% if messages %} {% for message in messages %}
<div class="alert">
    <span class="closebtn">&times;</span>  
    <span  class="message">{{message}}</span>
</div>

<script>
    var close = document.getElementsByClassName("closebtn");
    var i;
    
    for (i = 0; i < close.length; i++) {
      close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
    </script>
{% endfor %} {% endif %}