{% extends 'main.html' %}
{% block title %}Profile{% endblock title %}
{% block head %}
{% endblock head %}
{% block body %}

<main class="profile-page ">
  <div class="container">
    <div class="roomList">
      <br>
        <p>
          <a href="{{request.META.HTTP_REFERER}}"
          ><button class="btn btn--main" type="submit">
            Back
          </button></a>
        </p>
      <div class="profile">
        <div class="profile__avatar">
          {% if user.is_online %}
          <div class="avatar avatar--large active">
            {% else %}
          <div class="avatar avatar--large">
            {% endif %}
            <img src="{{user.avatar.url}}"/>
          </div>
        </div>
        <div class="profile__info">
          <p>@{{user.username}}</p>
          <p>{{user.email}}</p>
          {% if user.is_authenticated %}
          <a href="/update_profile" class="btn btn--main btn--pill">Edit Profile</a>
          <a href="/update_user_password" class="btn btn--main btn--pill">Change Password</a>
          {% endif %}
        </div>
        <div class="profile__about">
          <h3>Bio</h3>
          <p>
            {{user.bio}}
          </p>
        </div>
        <div class="profile__about">
          <h3>visit</h3>
          <p>
            <a href="/profile/{{request.user.id}}"
            ><button class="btn btn--main" type="submit">
              Your Public Profile here
            </button></a>
          </p>
        </div>
      </div>
  </div>
</main>

{% endblock body %}