<div class="topics">
  <div class="topics__header">
    <h2>Browse Topics</h2>
  </div>
  <ul class="topics__list">
    <li>
      <a href="/home" class="active">All <span>{{topics.count}}</span></a>
    </li>
    {% for topic in topics %}
    <li>
      {% if user.is_superuser %}
      <hr>
      <br>
      <a style="text-align: right;" href="/delete_topic/{{topic.id}}"><em></em><span>x</span></a>
      {% endif %}
      <a href="/home?q={{topic.name}}">{{topic.name}} <span>{{topic.room_set.all.count}}</span></a>  
      </li>
    {% endfor %}
  </ul>
</div>
